#header {
  height: 3rem;
  width: 100%;
  margin-bottom: 6rem;
}
#header img,
#header input {
  position: absolute;
}
#header img {
  top: 1.5rem;
  height: 1rem;
  display: block;
  width: 1rem;
}
#header input {
  left: 3rem;
  padding-left: 1rem;
  width: 21rem;
  height: 2.9rem;
  line-height: 3rem;
  border: none;
  font-size: 0.9rem;
}
#header input::-webkit-input-placeholder {
  color: #b5b9c2;
}
