#payment {
  width: 100%;
  height: 15rem;
}
#payment #wechat,
#payment #alipay,
#payment #cards {
  width: 100%;
  height: 5rem;
}
#payment #wechat .left img,
#payment #alipay .left img,
#payment #cards .left img {
  display: block;
  width: 2rem;
  margin-right: 1rem;
  float: left;
  padding-top: 1.5rem;
}
#payment #wechat .left span,
#payment #alipay .left span,
#payment #cards .left span {
  display: block;
  float: left;
  line-height: 5rem;
}
#payment #wechat .right,
#payment #alipay .right,
#payment #cards .right {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-top: 1.8rem;
  position: relative;
}
#toPay {
  margin-top: 6rem;
}
