#header {
  width: 100%;
  height: 16rem;
}
#header #title {
  color: #333;
  height: 3rem;
  line-height: 3rem;
}
#header #details {
  margin: 1rem 0;
  height: 9rem;
}
#header #details div {
  font-size: 0.9rem;
  color: #969696;
  margin-bottom: 0.6rem;
  height: 1.5rem;
}
#header #details div span {
  margin-right: 0.9rem;
  color: #969696;
}
#header #details div input {
  padding-left: 0.6rem;
  width: 20rem;
  height: 1.5rem;
  border: none;
  font-size: 1rem;
}
#header #details div:first-child span {
  margin-right: 0;
}
#btn {
  margin-bottom: 2rem;
}
#tips {
  color: #333;
  font-size: 0.8rem;
}
#tips h4 {
  font-weight: normal;
}
#tips p {
  margin-top: 1rem;
  line-height: 1.5rem;
}
