

// 顶部
#header{
    width: 100%;
    height: 16rem;
    padding-top: 1rem;
    // margin-bottom: 3rem;
    #title{
        color: #333;
        margin-bottom: 3rem;
    }
    #details{
        div{
            font-size: 0.9rem;
            color: #969696;
            margin-bottom: 0.6rem;
            span{
                margin-right: 0.9rem;
            }
            input{
                padding-left: 0.6rem;
                border: none;
            }
        }
        div:first-child{
            span{
                margin-right: 0;
            }
        }
    }
}

// 按钮
#btn{
    width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
    a{
        display: block;
        width: 100%;
        height: 100%;
        line-height: 3rem;
        background-color: #5790fb; 
        font-size: 1.1rem;
        border-radius: 2rem;
        color: #f8f9fc;
        text-align: center;
    }
}

// 提示信息
#tips{
    color: #333;
    font-size: 0.8rem;
    h4{
        font-weight: normal;
    }
    p{
        margin-top: 1rem;
        line-height: 1.5rem;
    }
}